html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


* {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar{
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-color: rgb(255, 255, 255);
    /*background: linear-gradient( #f7b617, white);*/
    width: 100%;
    height: 100px;
    padding: 43px;
    position: fixed;
    z-index: 1;
}

.navbar-header {
    margin-left: auto;
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;

}
.navbar img{
    width: 137px;
    height: 56px;

}
.right-part {
    display: flex;
    margin-top: -65px;
    justify-content: flex-end;
    margin-right: 57px;
}

ul li {
    display: inline-block;
    padding: 20px;
}


/*Quitando los estilos <a>*/

ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    width: 137px;
    height: 36px;
    margin-top: 10px
    vertical-align: middle;
}

.logo-while {
   width: 92px;
   height: 25px;
   margin-top: 10px;
}


ul li a:hover {
    color: black;
}


/*Estilos para el boton de login*/

.button-nav {
    padding: 9px 18px;
    border-radius: 10%;
    /*width: 61px;*/
    height: 18px;
    text-align: center;
    display: inline-block;
}


/*imagen del home*/

.fondo-container {
    overflow: hidden;
}

.fondo-home{
    background-image: url("../img/taxi.jpg");
    width: 100%;
    height: 113vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}


/* Estilos para el cambio de navbar y el nuevo boton */

/*.navbar-color {
    width: 100%;
    height: 78px;
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-color .right-part ul li a {
    color: #333447;
}
*/
.navbar-color .right-part .button-nav {
    padding: 9px 18px;
    border-radius: 10%;
    width: 61px;
    height: 18px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.second-apar {
    visibility: hidden;
}


/* caja registro */

.ride {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    background-color: #f7b617;
    width: 473px;
    height: 360px;
    top: 200px;
    right: 0;
    color: white;
    padding: 30px;
}

.extended-card {
    flex-direction: column;
    position: absolute;
    overflow: auto;
    background-color: #f7b617;
    width: 436px;
    height: 564px;
    top: 200px;
    right: 0;
    color: white;
    padding: 30px;
}

h2,
h5,
input {
    margin-left: 20px;
}

.title-card {
    margin-top: -20px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #728099;
    margin-left: 20px;
    background-color: #EDE9E2;
    color: black;
}

.btn-become {
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 50%;
}

.link {
    margin-left: 5px;
    color: #728099;
    font-size: 13px;
}

.text-card {
    font-size: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.text-card p {
    margin-bottom: -5px;
}

.title-card small{
    text-align: center;
}

/* seccion descarga app*/

.info-1 {
    display: flex;
    background: linear-gradient(#f7b617, #2B1E66);
    margin: 0;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;

}

.container-test {
    margin-top: 100px;
    margin-left: 150px;
}

/*.img-phone {
    margin-right: 100px;
}
*/
.info-1 p {
    font-size: 14px;
}

.border{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

/* conduce como quieras */

.drive{
    background-image: url("../img/conduce.jpg");
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.gray-box{

    background-color: rgba(0, 0, 0, 0.4);
    height: 50vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cont-save button{
    background-color: #f7b617;
    border-radius: 3px;
    color: white;
    padding-bottom: 9px;
    padding-top: 8px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.cont-save {
    margin-bottom: 10px;
    color: white;
    
}
/* Estilos para mapa y tarifa */

#mapa {
    display: flex;
    background-color: #f7b617;
    margin: 0;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

#mapa .text .form-group {
    font-size: 25px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mapa .text .form-control {
    width: 90%;
    float: right;
    background: none;
    color: #fff;
    border: 1px solid #fff;
}
#map {
      width: 400px;
  height: 350px;
  border: 2px solid white;
}


/* footer */
footer{
  background-color: #2b2b2b;
  color: #fff;
}
footer .container{
  padding: 3% 5%;
}
.iconos{
  margin-top: 22%;
  display: inline-block;
}
.iconos i{
  cursor: pointer;
  padding: 0 2%;
}
.iconos i:hover{
  color: #f7b617;
}

.links ul{
  list-style: none;
}
.links ul li{
  padding: 3% 0;
}
.links ul li a{
  text-decoration: none;
  color: #fff;

}
.links ul li a:hover{
  color: #f7b617;
}
.apps{
  margin-top: 15%;
}

.store{
  padding: 3% 0;
  width: 60%;
  cursor: pointer;
}
